@charset "utf-8";
/* CSS Document */
.SignUpButton{display: block;margin-left: auto;margin-right: 0;
background-color: transparent;border-color: transparent;
	font-weight: bold;
	font-size: 18px;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
     transition-property: all
}
.SignUpButton:hover{background-color: #0019DB;color: white;border-radius: 15px}
.About{background-color: transparent;
border-color: transparent;
 font-size: 18px;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
	transition-property: all
}
.About:hover{background-color: #5B5B5B;font-weight: bold;border-radius: 15px}
.SubmitButton{
background-color: transparent;border-color: transparent;
	font-weight: bold;
	font-size: 18px;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
     transition-property: all
}
.SubmitButton:hover{background-color: #00FF64;border-radius: 15px;font-size: 24px;height: 20%}
.MainForm{text-align: center}
.PostForm{text-align: center}
.TypeArea{border-radius: 15px;font-size: 18px;transition-duration: 300ms;transition-timing-function: ease-in-out;transition-property: all}
.TypeArea:hover{background-color: #9E9E9E}
.TypeArea:focus{background-color: black;color: white;font-size: 25px;border-radius: 20px}

































