@charset "utf-8";
/* CSS Document */
body{background-color: bisque}
.SignUpForm{text-align: center}
.CFSID{border-radius: 15px;border-color: transparent;
transition-duration: 300ms;
	transition-timing-function: ease-in-out;
	transition-property: all;
	font-size: 18px
}
.CFSID:hover{background-color: #7D7D7D}
.CFSID:focus{background-color: black;color: white;font-size: 25px;border-radius: 20px}
.SignUpButton{background-color: transparent;border-color: transparent;font-size: 18px;
transition-duration: 300ms;
	transition-timing-function: ease-in-out;
	transition-property: all
}
.SignUpButton:hover{background-color: #1200FF;color: white;font-size: 25px;font-weight: bold;border-radius: 20px}







































