@charset "utf-8";
/* CSS Document */
body{background-color: #50ABBD}
.LoginForm{text-align: center}
.Input{border-radius: 10px;font-size: 16px;border-color: transparent;transition-duration: 300ms;transition-property: all;transition-timing-function: ease-in-out}
.Input:hover{background-color: #8A8A8A}
.Input:focus{background-color: black;font-size: 25px;color: white;font-weight: bold;border-radius: 20px}
.LoginButton{width: 15%;font-size: 15px;background-color: #2600C3;border-color: transparent;color: white;border-radius: 10px;transition-duration: 300ms;transition-property: all;transition-timing-function: ease-out}
.LoginButton:hover{background-color: aqua;color: black;font-size: 25px;font-weight: bold}
